# PostgreSQL Database Connection
# Em desenvolvimento local via Docker: postgresql://postgres:postgres@localhost:5432/m7arena
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/m7arena"

# Auth.js v5 (Fase 3)
AUTH_SECRET="substitua-por-um-segredo-gerado-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Riot API (Server-side only - NUNCA expor no bundle client)
RIOT_API_KEY=""
